APPLICATION_PORT=7070

DATABASE_TYPE=postgres
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=admin

RABBITMQ_HOST=
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=

HASHICORP_VAULT_URL=
HASHICORP_VAULT_USERNAME=
HASHICORP_VAULT_PASSWORD=

